.nav-bar{
    background-color: white;
    overflow: visible;
    text-align: right;
    padding-right: 20%;
}

.image{
    text-align: left;
}

.image-nav{
    width: 200px;
    height: 75px;
    padding-left: 20%;
}

.nav-bar a{
    padding: 20px;
    position: static;
}

.nav-bar a:hover{
    color: red;
}

.nav-bar a.active{
    background-color: black;
    color: white;
}


