
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-links{
    background-color: white;
    overflow: visible;
    
    
}

a{
    flex: 1;
    text-decoration: none;
    outline: none;
    line-height: 3;
    color: #5d2c4e;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.logo{
    text-align: left;
    padding-right: 20%;
}

.image-nav{
    width: 200px;
    height: 70px;
    padding-left: 10%;
}

.nav-links a{
    padding: 20px;
    position: static;
    
}

.nav-links a:hover{
    color: #cf2e2e;
}

.nav-links a.active{
    background-color: black;
    color: white;
}


